.contact{
    margin-left: 35%;
    margin-bottom: 250px;
}

.row{
    margin-bottom: -30px;
}


#head{
    margin-top: 100px;
    font-family: fantasy;
    font-size: 40px;

}

#move{
    margin-left: 35%;
}


#navbar{
    margin-left: 350px;
}

.container1{
    padding: 0px 100px 0px 100px;
}